{% extends "base.html" %}

{% block title %}Short URL Report for {{ user }} {% endblock %}

{% block content %}
<h2>Link Report for {{ user }}</h2>
{% if user.is_authenticated %}
    {% ifequal user.id request.user.id %}
        <h3>API Key: {{request.user.get_profile.api_key}}</h3>
    {% endifequal %}
{% endif %}
<table>
    <thead>
        <tr>
            <th>Short</th>
            <th>Long</th>
            <th>Clicks</th>
            <th>Views</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
            <tr>
                <td>{{link.short_url}}</td>
                <td>{{link.url}}</td>
                <td>{{link.total_clicks}}</td>
                <td>{{link.total_views}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
